<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}Suhail vs, Django Developer</title>
    <meta name="domain" content="suhailvs.com"/>
    <meta name="title" content={% block metatitle %}"Hi, I'm Suhail, and welcome to my blog. I write about Python, Django, and much more."{% endblock %} />

    <meta name="description" content={% block metadescription %}"This blog is about Python, Django, webdevelopment."{% endblock %}/>
    <meta name="url" content={% block metaurl %}"http://suhailvs.com/"{% endblock %}/>
    <link rel="stylesheet" href="{% static "selectize/css/selectize.css" %}">
    <link rel="stylesheet" href="{% static "style.css" %}">	
	{% block extrahead %}
	{% endblock %}		
</head>
<body>
<style type="text/css">
	#searchbytag {
        
        float: right;
	}

	#searchbytag .btnsearch {        
        padding:6px 15px;
        left:-8px;
        border:2px solid #207cca;
        background-color:#207cca;
        color:#fafafa;
	}
	#searchbytag .btnsearch:hover  {
        background-color:#fafafa;
        color:#207cca;
        cursor: pointer;
	}
</style>
	
	<form id="searchbytag" action="{% url 'home' %}" method="get">
	<table><tr><td>
	    <select id="select-tag" name="tags" multiple="multiple" placeholder="Select a tag..." tabindex="-1">
	    	{% for tag in tags %}
	    	<option value="{{ tag.1 }}">{{ tag.2 }} x {{ tag.0 }}</option>
	    	{% endfor %}
		</select>
		</td><td>
		<input class="btnsearch" type="submit" value="Search" />
	</td></tr></table>
	</form>
	
	<div class="site">
	    <span style="color:#fff;font-size:2em">
	        <strong>Suhail VS - </strong><small>Python Django Developer</small>
	    </span> 
	    <!-- Nav bar -->
	    <div class="nav">
	        <a href="{% url 'home' %}">Home</a>|<a href="{% url 'static_pages' 'aboutme' %}">About me</a>|<a href="{% url 'static_pages' 'projects' %}">Projects</a>| <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">Tags</a>          
	    </div>	    
		{% block content %}
		{% endblock %}		
		<div class="footer">
	        <p> <a href="https://github.com/suhailvs">GitHub</a> &bull; <a href="https://twitter.com/suhailvs">Twitter</a> &bull; <a href="http://www.fb.com/suhailvs0">Facebook</a> &bull; <a href="http://stackoverflow.com/users/2351696">Stackoverflow</a> &bull; <a href="http://elance.com/s/suhailvs">Elance</a> &bull; <a href="mailto:suhailvs@gmail.com">Email</a>
	        </p>
	    </div>
	</div><!-- /site -->

	<div id="light" class="white_content">    
	    <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'" class="boxclose"></a>
	    <div style="padding:20px;"> 
	    	<ul><!--#[(count,pk,name)......]-->
	    	{% for tag in tags %}
	    	<li><a href="{% url 'home' %}?tags={{ tag.1 }}" class="post-tag">{{ tag.2 }}</a><span class="item-multiplier"> x {{ tag.0 }}</span></li>
	    	{% endfor %}
	    	</ul>
	    </div>
	</div>
	<div id="fade" class="black_overlay"></div>

	<!-- selectize multiselect -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="{% static "selectize/js/standalone/selectize.min.js" %}"></script>
	<script type="text/javascript">
	$('#select-tag').selectize();
	</script>
	{% block javascripts %}
	{% endblock %} 
</body>
</html>