{% extends "base.html" %}
{% load bextras %}

{% block title %}{{blog.title|slugify|truncatechars:60}} - {% endblock %}
{% block metatitle %}"{{blog.title}}"{% endblock %}
{% block metadescription %}"{{blog.content}}"{% endblock %}
{% block metaurl %}"http://suhailvs.com/{{blog.pk}}/{{blog.title|slugify|truncatechars:60}}"{% endblock %}


{% block extrahead %}
<link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/solarized_light.min.css">
<style type="text/css">
	
pre > code{
overflow-x:auto;
}

</style>
		{% endblock %}		
{% block content %}
<div class="post">
    <h1 class="title">{{blog.title}}</h1>
    <p class="date">{{blog.created}}</p>
    Tags:
    {% for tag in blog.tags.all %}
    <a href="{% url 'home' %}?tags={{tag.pk}}" class="post-tag">{{tag.name}}</a>
    {% endfor %}
    <div class="body">{{ blog.content|markdown|safe }}</div>

    <!--DISQUS
    ++++++++++++++++++++++++++++++++++++++++-->
    <div id="disqus_thread"></div>
	<script type="text/javascript">
	    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	    var disqus_shortname = 'suhails'; // required: replace example with your forum shortname

	    /* * * DON'T EDIT BELOW THIS LINE * * */
	    (function() {
	        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
	        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	    })();
	</script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    <!--/DISQUS-->
</div>
{% endblock %}

{% block javascripts %}
<script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
<!--http://highlightjs.org/static/styles/solarized_light.css,
default.min.css

-->
<script>hljs.initHighlightingOnLoad();
//$('pre code').each(function(i, e) {hljs.highlightBlock(e)});


</script>
{% endblock %}}