<div class="pagination">
  {% if blogs.has_previous %}
    <a href="{{myblogs}}?page={{ blogs.previous_page_number }}{% if filtered_tags %}{% for tag in filtered_tags %}&tags={{tag.pk}}{% endfor %}{% endif %}">
    « Previous</a>
  {% else %}
    <span class="disabled">« Previous</span>
  {% endif %}

  {% for page in blogs.paginator.page_range %}
    {% if page == blogs.number %}
      <span class="current">{{ page }}</span>
    {% else %}
      <a href="{{myblogs}}?page={{ page }}{% if filtered_tags %}{% for tag in filtered_tags %}&tags={{tag.pk}}{% endfor %}{% endif %}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if blogs.has_next %}
    <a href="{{myblogs}}?page={{ blogs.next_page_number }}{% if filtered_tags %}{% for tag in filtered_tags %}&tags={{tag.pk}}{% endfor %}{% endif %}" class="next">Next »</a>
  {% else %}
    <span class="disabled">Next »</span>
  {% endif %}
 </div>