{% extends "base.html" %}
{% block content %}
<div class="post">
  	<h1>Projects</h1>
    <p>I like to do open source.</p>
	<h2>Current/Featured Work</h2>

	<h3>simplenote.in</h3>
    <p>A site for storing notes.</p>
    <ul>        
        <li><a href="https://simplenote.in">simplenote.in</a></li>
        <li><a href="https://github.com/suhailvs/simplenote">https://github.com/suhailvs/simplenote</a></li>
    </ul>        
    
            
	<h3>ssc qa</h3>
    <p>Staff selection commission exam question and answer site.</p>
    <ul>
        <li><a href="http://ssc-suhailvs.rhcloud.com/">http://ssc-suhailvs.rhcloud.com/</a></li>
        <li><a href="https://github.com/suhailvs/ssc">https://github.com/suhailvs/ssc</a></li>
    </ul>
        
      <hr>         
	<h2>Ongoing Efforts</h2>
    <ul>
        <li><a href="http://suhailvs.github.io/djangobook.com/">Django Book</a>
        </li>
        <li><a href="https://github.com/django/django">https://github.com/django/django</a> (contributor)</li>
        <li><a href="https://github.com/suhailvs/pyquery">https://github.com/suhailvs/pyquery</a> (contributor)</li>
        <li><a class="reference external" href="https://github.com/suhailvs/pagedown.js">https://github.com/suhailvs/pagedown.js</a> (lead)</li>            
    </ul>
   
</div>
{% endblock %}